* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar__e0 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #002B11;
}

.navbar__e0:hover {
    cursor: pointer;
}

.navbar__e1,
.navbar__e2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.navbar__e1 {
    gap: 30px;
    align-items: center;
}

.navbar__e2--1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar__e1 h4,
.navbar__e2--1 {
    padding: 15px;
    border-radius: 25px;
    transition: background-color 150ms ease, transform 120ms ease;
}

.navbar__e1 h4:hover,
.navbar__e2--1:hover {
    cursor: pointer;
    background-color: rgb(211, 207, 207);
    transform: translateY(-2px);
}

.navbar__e2 h3 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #143C24;
    transition: background-color 150ms ease, transform 120ms ease;
    color: white;
}

.navbar__e2 h3:hover {
    cursor: pointer;
    background-color: rgb(80, 121, 10);
    transform: translateY(-2px);
}

.head {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #002B11;
    font-style: normal;
}

.options {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
    
}

.options__e1:hover,
.options__e2:hover,
.options__e3:hover,
.options__e4:hover,
.options__e5:hover,
.options__e6:hover {
    cursor: pointer;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
    transition: background-color 150ms ease, transform 120ms ease;
}

.options__e1,
.options__e2,
.options__e3,
.options__e4,
.options__e5,
.options__e6 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #002B11;
    transform: translateY(-2px);
}

.search {
    border: lightgray 1px solid;
    border-radius: 55px;
    width: 60%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 320px;
    justify-content: space-between;

}

.search input {
    border: none;
    width: 400px;
    height: 40px;
    outline: none;
}

.search__e1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.search button {
    background-color: #00EB5B;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(80, 121, 10);
}

.highlight img {
    width: 40%;
    height: auto;
    max-width: 500px;
    border-radius: 20px;
}

.highlight {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    background-color: #00EB5B;
    padding: 30px;
    height: 60%;
    width: 75%;
    margin-left: 200px;
    border-radius: 15px;
}

.vertical-line {
    border-left: 1px solid black;
    height: 300px;
    margin: 10px;
}

.highlight__text h1 {
    font-size: 60px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #002B11;
    font-style: normal;
    margin-top: -20px;
    justify-content: center;
}

.highlight__text button {
    background-color: #143C24;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    margin-left: 200px;
    margin-top: 50px;
    transform: translateY(-2px);
}

.highlight__text button:hover {
    background-color: #0F2E1C;
    transition: background-color 150ms ease, transform 120ms ease;
}

.highlight__text h6 {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #002B11;
    font-style: normal;
    margin-top: 20px;
    margin-left: 10%;
}

.intrests__text{
    margin-left: 200px;
    color:#002B11;
}

.intrests__text h3{
    margin-top: 60px;
    margin-bottom: 20px;
}

.intrests__images{
    display: flex;
    gap: 20px;
    margin-left: 200px;
    margin-top: 20px;
    align-items: flex-start;
}

.intrests__images img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.intrests h4{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.review__text{
    margin-left: 200px;
    color:#002B11;
}

.review__text h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

.review__images{
    display: flex;
    gap: 20px;
    margin-left: 200px;
    margin-top: 20px;
    align-items: flex-start;
}

.review__images img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.review h4{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.review__images--1 h3,.review__images--2 h3,.review__images--3 h3,.review__images--4 h3{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    width: 280px;
    color:#002B11;
}

.review__images--1 p,.review__images--2 p,.review__images--3 p,.review__images--4 p{
    text-align: left;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #002B11;
}

.review h5{
    color: #002B11;
}

.ad-1 img {
    width: 55%;
    height: 50%;
    border-radius: 20px;
}

.ad-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    background-color: #F7F7F7;
    padding: 30px;
    height: 60%;
    width: 75%;
    margin-left: 200px;
    border-radius: 15px;
}

.ad-1__text h1 {
    font-family: "PT Sans", sans-serif;
    color: #002B11;
    font-style: normal;
    justify-content: center;
    margin-top: 10px
    
}

.ad-1__text button {
    background-color: #143C24;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
    transform: translateY(-2px);
}

.ad-1__text button:hover {
    background-color: #0F2E1C;
    transition: background-color 150ms ease, transform 120ms ease;
}

.ad-1__text h6 {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #002B11;
    font-style: normal;
    margin-top: 20px;
    margin-left: 10%;
}

.ad-1__text{
    width: 500px;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.cname{
    text-align: center;
}

.int__h1{
    margin-top: 20px;
    margin-bottom: -50px;
}

.ad-2 img {
    width: 50%;
    height: 45%;
    border-radius: 20px;
}

.ad-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    background-color: #F7F7F7;
    padding: 30px;
    height: 60%;
    width: 75%;
    margin-left: 200px;
    border-radius: 15px;
}

.ad-2__text h1 {
    font-family: "PT Sans", sans-serif;
    color: #002B11;
    font-style: normal;
    justify-content: center;
    margin-top: 10px
    
}

.ad-2__text button {
    background-color: #143C24;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
    transform: translateY(-2px);
}

.ad-2__text button:hover {
    background-color: #0F2E1C;
    transition: background-color 150ms ease, transform 120ms ease;
}

.ad-2__text h6 {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #002B11;
    font-style: normal;
    margin-top: 20px;
    margin-left: 10%;
}

.ad-2__text{
    width: 500px;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.city{
    margin-top: 50px;
}

.banner img {
    width: 100%;
    height: 20%px;
    margin-top: 50px;
}

.footer {
  background-color: #f9f9f9;
  padding: 40px 80px;
  border-top: 1px solid #ddd;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p a {
  color: #008009;
  text-decoration: none;
}

.footer-section p a:hover {
  text-decoration: underline;
}

hr {
  margin: 40px 0 20px;
  border: 0;
  border-top: 1px solid #ddd;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #555;
}

.footer-links a {
  margin-right: 15px;
  color: #00754a;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-extras {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dropdowns select {
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.social-icons a {
  margin: 0 8px;
  color: #333;
  font-size: 18px;
}

.social-icons a:hover {
  color: #008009;
}

.ask-btn {
  background-color: #34c759;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.ask-btn:hover {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-bottom, .footer-extras {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    margin-top: 10px;
  }
}

.banner{
    margin-bottom: 50px;
}