* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar__e0 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #002B11;
}

.navbar__e0:hover {
    cursor: pointer;
}

.navbar__e1,
.navbar__e2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.navbar__e1 {
    gap: 30px;
    align-items: center;
}

.navbar__e2--1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar__e1 h4,
.navbar__e2--1 {
    padding: 15px;
    border-radius: 25px;
    transition: background-color 150ms ease, transform 120ms ease;
}

.navbar__e1 h4:hover,
.navbar__e2--1:hover {
    cursor: pointer;
    background-color: rgb(211, 207, 207);
    transform: translateY(-2px);
}

.navbar__e2 h3 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #143C24;
    transition: background-color 150ms ease, transform 120ms ease;
    color: white;
}

.navbar__e2 h3:hover {
    cursor: pointer;
    background-color: rgb(80, 121, 10);
    transform: translateY(-2px);
}

.head {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #002B11;
    font-style: normal;
}

.options {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
    
}

.options__e1:hover,
.options__e2:hover,
.options__e3:hover,
.options__e4:hover,
.options__e5:hover,
.options__e6:hover {
    cursor: pointer;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
    transition: background-color 150ms ease, transform 120ms ease;
}

.options__e1,
.options__e2,
.options__e3,
.options__e4,
.options__e5,
.options__e6 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #002B11;
    transform: translateY(-2px);
}

.search {
    border: lightgray 1px solid;
    border-radius: 55px;
    width: 60%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 320px;
    justify-content: space-between;

}

.search input {
    border: none;
    width: 400px;
    height: 40px;
    outline: none;
}

.search__e1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.search button {
    background-color: #00EB5B;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(80, 121, 10);
}

.highlight img {
    height: 40%;
    width: 40%;
    border-radius: 20px;
}

.highlight {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    background-color: #00EB5B;
    padding: 30px;
    height: 60%;
    width: 70%;
    margin-left: 200px;
    border-radius: 15px;
}

.vertical-line {
    border-left: 1px solid black;
    height: 300px;
    margin: 10px;
}

.highlight__text h1 {
    font-size: 60px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #002B11;
    font-style: normal;
    margin-top: -20px;
    justify-content: center;
}

.highlight__text button {
    background-color: #143C24;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    margin-left: 200px;
    margin-top: 50px;
    transform: translateY(-2px);
}

.highlight__text button:hover {
    background-color: #0F2E1C;
    transition: background-color 150ms ease, transform 120ms ease;
}

.highlight__text h6 {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #002B11;
    font-style: normal;
    margin-top: 20px;
    margin-left: 10%;
}